body {
    margin: 0 auto;
    /* padding: 4rem 0; */
    width: 100%;
    /* max-width: 60rem; */
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font: 100% / normal sans-serif;
    display: flex;
  }

  .form-header {
      margin-left: 3.5em;
      font-size: .8em;
      padding-top: 3em;
      padding-bottom: 2em;
      padding-right: 10em;
  }

  h2 {
    padding: 0;
    margin-top: 15px;
    margin-bottom: -2px;
  }
  
  .form-body {
    box-sizing: border-box;
    background-color: hsl(0, 0%, 100%);
    box-shadow: 0 3px 2px 0 rgb(213, 213, 213);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding-left: 3em;
    padding-right: 6em;
    padding-bottom: 1rem;
  }

  button,
  fieldset,
  input,
  legend,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

input,
select {
  border: 1px solid #E5E7EB;
  background-color: white;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  font: 1rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 85%;
  padding: 0.2rem 0.5rem;
  margin-top: 0.1rem;
  margin-bottom: 0.5rem;
}

.form-row {
    display: inline-block;
    font: bold 0.75rem sans-serif;
    letter-spacing: 00.1rem;
  }

  input:focus {
    outline: 0;
    border-color: blue;
    box-shadow: 0 2px 4px 0 #999;
  }

  .form-button {
    margin-left: 3.5rem;
  }

  button {
    font: 1rem sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.75rem 2.5rem;
    margin-top: 1.5rem;
    margin-bottom: 0.5rem;
  }

  button[type="submit"] {
    background-color: #596D48;
    border: 2px solid rgb(217, 217, 217);
    color: white;
  }

  button[type="submit"]:hover {
    background-color: hsl(88, 35%, 41%);
  }

  button[type="submit"]:focus {
    background-color: hsl(88, 36%, 32%);
  }

  span {
    color: hsl(88, 35%, 33%);
  }

  .already-acct {
      font-weight: bold;
  }

.container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
    position: relative;
    position: left;
}

.card-meerkat {
    max-width: 420px;
}

@font-face {
  font-family: 'MyWebFont';
  src: url('myfont.woff2') format('woff2');
}

.card-heading {
    font-family: 'MyWebFont';
    font-weight: bold;
    position: absolute;
    color: white;
    font-size: 1.8em;
    left: 3.5em;
    top: 1.8em;
}

.card-logo {
  max-width: 90px;
  position: absolute;
  top: 15.5em;
  left: 1em;
  z-index: 1;
}

  .card-box {
    background-color: rgba(0,0,0,0.65);
    position: absolute;
    top: 15em;
    height: 140px;
    width: 100%;
    font-family: sans-serif;
    color: #FFF;
    bottom: 0px;
    z-index: 1;
   }

.credits {
    font-size: 0.8em;
    color: rgb(217, 217, 217);
    position: absolute;
    bottom: 3vh;
    left: 8em;
}
