body {
    margin: 0 auto;
    /* padding: 4rem 0; */
    width: 100%;
    /* max-width: 60rem; */
    background-color: hsl(0, 0%, 98%);
    color: #333;
    font: 100% / normal sans-serif;

    display: flex;

  }

  .form-header {
      margin-left: 2em;
  }
  
  .form-body {
    box-sizing: border-box;
    padding: 2rem;
    background-color: hsl(0, 0%, 100%);
    border: 1px solid hsl(0, 0%, 90%);
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  button,
  fieldset,
  input,
  legend,
  select,
  textarea {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

input,
select {
  border: 1px solid rgb(217, 217, 217);
  background-color: white;
  border-radius: 0.25rem;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="password"],
select {
  font: 1.25rem / 1.5 sans-serif;
  display: block;
  box-sizing: border-box;
  width: 100%;
  padding: 0.1rem 0.1rem;
  margin-top: 0.2rem;
}

.form-row {
    display: inline-block;
    font: bold 1rem sans-serif;
    letter-spacing: 00.1rem;
    margin-bottom: 0.1rem;
  }

  :focus {
    outline: none;
    box-shadow: 0 0 0 3px hsla(220, 100%, 50%, 80%);
    border: #333;
  }

  input:invalid {
    border: 2px solid red;
  }

  .form-button {
    margin-left: 2em;
  }

  button {
    font: 1.25rem sans-serif;
    font-weight: bold;
    border-radius: 0.5rem;
    cursor: pointer;
    padding: 0.75rem 3rem;
    margin-top: 2rem;
    margin-bottom: 1rem;
  }

  button[type="submit"] {
    background-color: hsl(88, 35%, 33%);
    border: 2px solid rgb(217, 217, 217);
    color: white;
  }

  button[type="submit"]:hover {
    background-color: hsl(88, 35%, 41%);
  }

  button[type="submit"]:focus {
    background-color: hsl(88, 36%, 32%);
  }

  span {
    color: hsl(88, 35%, 33%);
  }

  p {
      font-weight: bold;
  }

.container {
    display: flex;
    flex-direction: column;
}


.card-container {
    display: flex;
    position: relative;
    position: left;
}

.card-meerkat {
    max-width: 550px;
}

.card-heading {
    max-width: 150px;
    position: absolute;
    color: white;
}

.card-logo {
    max-width: 150px;
    position: absolute;
    top: 8em;
    left: 1em;
}

.credits {
    font-size: 1em;
    color: rgb(217, 217, 217);
    position: absolute;
    top: 49em;
    left: 9em;
}
